.search-results-hint-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.0rem;
}

.search-results-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ag-grid-angular {
        max-width: 1000px;
        margin: 10px;
        width: 100%;

        ::ng-deep .ag-row-even , ::ng-deep .ag-row-odd {
            cursor: pointer;
        }
    }    
}