/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
    background-color: black;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

button {
    font-family: 'Titillium Web', sans-serif;
}

.ag-header-cell-label {
    justify-content: center;
}

dialog {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}

input[type="checkbox"] {
    margin: 5px;
}