.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
}

.settings {
    display: flex;
    position: absolute;
    z-index: 1000;
    margin: 14px;
}

.settings .info {
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask-image: url('./../assets/info.svg');
    mask-image: url('./../assets/info.svg');
    cursor: pointer;
    margin: 0px 4px;
}

.settings .filter {
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask-image: url('./../assets/filter.svg');
    mask-image: url('./../assets/filter.svg');
    cursor: pointer;
    margin: 0px 8px;
}

dialog::backdrop {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(1px);
}

.dialog-header {
    font-family: 'Staatliches', cursive;
    padding: 10px;
    border-bottom: 1px solid white;
}

.players-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: center;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

%players-dot {
    min-height: 10px;
    min-width: 10px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.players-dot {
    @extend %players-dot;
}

.legend-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.legend-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend-dot {
    @extend %players-dot;
    background-color: #763568;
}

.filter-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    color: white;
}