.picks-options {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;

    span {
        padding: 10px;
        cursor: pointer;
    }
}

::ng-deep .ag-header-cell-label {
    justify-content: center;
}

dialog {
    padding: 5px;
	background: #333;
    color: white;
	border-radius: 20px;
	border: 0;
    width: 100%;
    height:  fit-content;
    max-width: 960px;

    .dialog-header {
        font-weight: bold;
    }

    &::backdrop {
		animation: fadeIn 1s ease both;
		background: black;
		z-index: 2;
		backdrop-filter: blur(20px);
	}

    .x {
        background: transparent;
        border: none;
		position: absolute;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}

    ng-select {
        margin: 10px;
    }

    .option {
        margin: 10px;
    }

    .controls {
        display: flex;
        justify-content: flex-end;
    }

    button {
        background-color:var(--main-color);
        border: none;
        color: black;
        padding: 5px 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        font-size: 0.8rem;
        border-radius: 10px;
    }

    .filter-option {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;

        input {
            margin: 5px;
        }
    }
}