<ag-grid-angular
  class="ag-theme-alpine-dark"
  style="width: 100%; height: 100%"
  [suppressCellFocus]="true"
  [suppressRowHoverHighlight]="true"
  [suppressMovableColumns]="true"
  [rowData]="rows"
  [columnDefs]="columns"
  [getRowHeight]="getRowHeight">
</ag-grid-angular>

<div *ngIf="fullScreen && rows.length > 0" class="picks-options" [style.height]="headerHeight" [style.width]="headerWidth">
  <span class="material-symbols-outlined" (click)="openFilterDialog()">filter_alt</span>
</div>

<dialog #filterDialog>
  <button (click)="closeFilterDialog(false)" aria-label="close" class="x">❌</button>
  <div class="option">
    <h5>Teams</h5>
    <ng-select [items]="filteredPlayers" 
             bindLabel="teamName" 
             bindValue="id" 
             [(ngModel)]="selectedPlayers"
             [multiple]="true"
             [hideSelected]="true">
    </ng-select>
  </div>
  <div class="option">
    <h5>Positions</h5>
    <ng-select [items]="filteredElementTypes" 
             bindLabel="typeText" 
             bindValue="typeId" 
             [(ngModel)]="selectedElementTypes"
             [multiple]="true"
             [hideSelected]="true">
    </ng-select>
  </div>
  <div class="option">
    <h5>Options</h5>
    <div class="filter-option">
      <input type="checkbox" [(ngModel)]="showCaptainsOnly"/>
      <div>Show captain picks only</div>
    </div>
    <div class="filter-option">
      <input type="checkbox" [(ngModel)]="ignoreElementsWithNoPicks"/>
      <div>Hide players with no picks</div>
    </div>    
  </div>
  <div class="controls">
    <button (click)="closeFilterDialog(true)">Apply</button>
  </div>
</dialog>