/* You can add global styles to this file, and also import other style files */
@import "@coreui/coreui/scss/coreui";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

:root {
    --main-color: #FFC107;
    --main-font-family: 'Titillium Web', sans-serif;
}

.ag-theme-alpine-dark {
    --ag-font-size: 12px;
    --ag-font-family: var(--main-font-family);
}

html, body {
    background-color: black;
    color: white;
    font-family: var(--main-font-family);
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

input {
    color: white;
    font-family: var(--main-font-family);
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
}

.error {
    background-color: darkred;
    border-radius: 0.5rem;
    color: white;;
    padding: 1.0rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1rem;
}

h6, p {
    margin-bottom: 0rem;
    font-size: 0.8rem;
}

select {
    font-size: 0.8rem;
}

ng-select {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;

    .ng-select-container {
        align-items: center;

        .ng-value {
            font-weight: bold;
            border-radius: 10px;
            padding: 5px;
            margin: 2px 5px;
            background-color: whitesmoke;
            color: black;

            .ng-value-icon.left {
                padding: 5px;
            }

            .ng-value-label {
                padding: 0px 5px 0px 0px;
            }
        }

        .ng-input > input {
            height: 100%;
        }
    }

    .ng-dropdown-panel-items {
        margin: 0px 5px 0px -5px;
        padding: 5px;
        background-color: dimgray;
        border-radius: 0 0 5px 5px;

        .ng-option {
            padding: 5px;
        }

        .ng-option::hover {
            background-color: gray;
        }
    }
}

@media only screen and (min-width: 600px) {
    .ag-theme-alpine-dark {
        --ag-font-size: 14px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.35rem;
    }

    h5 {
        font-size: 1.25rem;
    }
    
    h6, p {
        font-size: 1rem;
    }

    select {
        font-size: 1rem;
    }
}