/* You can add global styles to this file, and also import other style files */
@import "@coreui/coreui/scss/coreui";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

:root {
    --main-color: #FFC107;
    --main-font-family: 'Titillium Web', sans-serif;
}

.ag-theme-alpine-dark {
    --ag-font-size: 14px;
    --ag-font-family: var(--main-font-family);
  }

html, body {
    background-color: black;
    color: white;
    font-family: var(--main-font-family);
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

input {
    color: white;
    font-family: var(--main-font-family);
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
}

.error {
    background-color: darkred;
    border-radius: 0.5rem;
    color: white;;
    padding: 1.0rem;
}

p {
    font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 1rem;
    }
}